
<span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b><%= link_to "#{current_order.order_items.size} items with a value of #{current_order.subtotal }", cards_path%></b></span></h4>     

