<div class="card">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'></h2>
<h2>If you have any doubts or any issues contact our customer service</h2>
<h1>Free Call : <td><%= link_to "9847489230" %></td></h1>

</div>
</div>